.create-review-container {
    background-color: rgb(155, 103, 148);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-container {
    background-color: rgb(192, 226, 43);
    padding: 15px;
    margin-top: 20px;
    margin-left: 55px;
    width: 270px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}