<div class="container-fluid create-task-container">
    <h1>City Reviews App</h1>
    <button [routerLink]="['popup']">Give your review</button>
    <br />
    <button (click)="mytasks()">Get All Reviews</button>
 </div>
 <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let task of formArray">
       <div class="task-container">
             <h3>CityName: {{task.cityName}}</h3>
             <h4>Feedback: {{task.feedback}}</h4>
             <h5>Rating: {{task.rating}}</h5>
       </div>
    </div>
 </div>