<div class="container-fluid create-review-container">
   <h1 style="font-size: 35px; margin-bottom: 55px;">City Reviews App</h1>
   <div style="display: flex;">
      <button [routerLink]="['review']"
         style="margin-right: 10px; background-color: black; color: white; border: none; padding: 4px;">Give your review</button>
      <button (click)="mytasks()" style="margin-right: 10px; background-color: black; color: white; border: none; padding: 4px;">
         Reviews</button>
   </div>
</div>
<div style="display: flex; flex-wrap: wrap;">
   <div *ngFor="let review of formArray">
      <div class="review-container">
         <h2>Name: {{review.name}}</h2>
         <h3>CityName: {{review.cityName}}</h3>
         <h4>Feedback: {{review.feedback}}</h4>
         <h4>Rating: {{review.rating}}</h4>
      </div>
   </div>
</div>