.create-task-container {
    background-color: aqua;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-container {
    background-color: blueviolet;
    padding: 15px;
    margin: 15px;
    width: 250px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}